<header>
  <span>
    <button *ngIf="router.url !== '/'" class="menu" routerLink="/">Меню</button>
  </span>
  <span class="address">Pizza club</span>
  <span class="lk">

    <button type="button" class="btn btn-secondary" routerLink="/cart">
      Корзина <span class="badge badge-dark">{{size}}</span>
    </button>

    <a href="#" (click)="$event.preventDefault(); onProfileClick()">Профиль</a>
  </span>
  <div class="profile" *ngIf="isProfilePageVisible">
    <span>{{name}}</span>
    <button class="btn" (click)="logout()">Выйти</button>
  </div>
</header>
