header {
  background-color: #f3f0eb;
  height: 3rem;
  color: #000000;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: space-between;

  span {
    text-align: center;
    width: 30%;
  }

  span.address {
    width: 40%;
    font-weight: bold;
    font-size: x-large;
  }

  span.lk {
    text-align: right;
    padding-right: 4rem;

    a {
      color: #000000;
    }
  }
}

.profile {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  top: 65px;
  right: 4rem;
  z-index: 1000;

  width: 200px;
  height: 130px;

  font-size: 15px;

  background-color: #f3f0eb;
  color: #000000;
  border-radius: 10px;

  button {
    background-color: #fff;
  }
}

.btn-secondary {
  margin-right: 2rem;
  width: 130px;
  padding: 0.05rem;
  background-color: #f3f0eb;
  color: black;
}

button.menu {
  background-color: transparent;
  width: 40%;
  border: none;
  color: #000000;
  font-size: 1vw;
}
