<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-3">
  
      <!-- Section: Text -->
      <section class="mb-2">
        <p>
          г. Казань, ул. Николая Ершова, 4\2
        </p>
        <p>
            Телефон: 8 800 302-00-60
        </p>
      </section>

      <a href="contacts" class="text-white">Контакты</a>
      <!-- Section: Text -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://github.com/IlshatIbrahimov">GitHub/IlshatIbrahimov</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->