<!--Section: Contact v.2-->
<section class="section">

    <!--Section heading-->
    <div class="group-name">Контакты</div>
  
    <div class="card" style="width: 18rem; margin-left: 3rem; margin-bottom: 2rem;">
        <div class="card-body">
          <h5 class="card-title">Адрес</h5>
          <p class="card-text">г. Казань, ул. Николая Ершова, 4/2</p>
          <p class="card-text">8 800 302-00-60</p>
        </div>
      </div>

    <div class="card">
  
      <div class="card-body">
  
        <!--Google map-->
        <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0607003344526!2d49.14784861593214!3d55.79218388056389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead715b15eda5%3A0xc9ba117732983205!2z0JTQvtC00L4g0J_QuNGG0YbQsA!5e0!3m2!1sru!2sru!4v1616832645421!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
  
      </div>
  
    </div>
  
  </section>
  <!--Section: Contact v.2-->