.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17vw);
  justify-content: space-between;
  row-gap: 2rem;
  width: 80vw;
  margin-bottom: 2rem;
}

.group-name {
  margin-bottom: 1rem;
  font-size: 2rem;
}





