header {
  background-color: #242323;
  height: 3rem;
  color: #E8E8E8;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.05rem;
}

.top-container {
  background-color: #F3F0EB;
  height: calc(100vh - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;


  button {
    color: #bcbab7;
    font-size: 1.5rem;
    border: solid #bcbab7;
    border-width: 0 0 0.15rem 0;
    padding: 0.25rem;
    background-color: transparent;
    margin: auto auto 2rem auto;
    width: 10vw;
    outline: none;
  }

  button:hover {
    color: #242323;
    border-color: #242323;
    transition-delay:.1s
  }
}

.main-page-image {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -250px;

  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;

  img {
    width: 500px;
  }
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  text-align: center;
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 200;
}


