<div class="back">
  <div class="user">
    <form class="form" (ngSubmit)="authService.register()">

      <p style="text-align: center; padding-bottom: 2rem; font-size: 1.5rem;">Регистрация</p>

      <div class="form__group">
        <input type="text" placeholder="Name" class="form__input" [(ngModel)]="authService.name" name="name"/>
      </div>

      <div class="form__group">
        <input type="text" placeholder="Surname" class="form__input" [(ngModel)]="authService.surname" name="surname"/>
      </div>

      <div class="form__group">
        <input type="email" placeholder="Email" class="form__input" [(ngModel)]="authService.email" name="email"/>
      </div>

      <div class="form__group">
        <input type="password" placeholder="Password" class="form__input" [(ngModel)]="authService.password" name="password"/>
      </div>

      <div class="btn-div">
        <button class="btn" type="submit">Зарегистрироваться</button>
      </div>

      <div class="redirect">
        <a routerLink="/login" class="login-page">Авторизация</a>
      </div>
    </form>
  </div>
</div>
